html {
    height: 100%;
    background-color: #e3e2df;
    background-size: cover;
     font-family: Arial !important;
}

#welcome_text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-shadow: 0 0 3.5px #fff;
    font-weight: bold;
}

#map_container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 1250px;
    height: 550px;
    background-color: #e3e2df;
}

#download_button {
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    height: 50px;
    width: 200px;
    cursor: pointer;
}

#download_button:hover {
    color: black;
    background-color: #EFAE88;
}

#contact_email {
    display: flex;
    flex-direction: column;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.8px;
    justify-content: center;
    align-items: center;
}

#contact_email > img {
    width: 50px;
    height: 50px;
}

#president-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

#candidates {
    display: flex;
    flex-direction: row;
}

#candidate-select-button{
    height: 40px;
    width: 124px;
    cursor: pointer;
    margin: 0 5px;
}

#selected-president {
    text-align: center;
    margin: 10px 0;
}

#selected-cities {
    display: none;
    margin: 10px auto 10px;
}

#candidate-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.won-cities {
    margin-top: 5px;
}

#result-info {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#info-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    width: 130px;
    justify-content: center;
    align-items: center;
   
}

#info-container > span {
    margin-left: 5px;
}

#color-box {
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
}

#won-city-count {
    margin-top: 29px;
}

#bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
